site_name: assistant-for-argocd
repo_url: https://github.com/argoproj-labs/assistant-for-argocd
strict: true
theme:
  name: material
  palette:
    primary: teal
  logo: assets/logo.png
  favicon: "assets/favicon.png"
  features:
  - content.code.copy
markdown_extensions:
- codehilite
- admonition
- tables
- toc:
    permalink: true
    toc_depth: 3
- pymdownx.superfences:
    custom_fences:
    - name: mermaid
      class: mermaid
      format: !!python/name:pymdownx.superfences.fence_code_format
nav:
  - Overview: index.md
  - Architecture: architecture.md
  - Providers:
    - Llama-Stack:
      - Use Llama-Stack: providers/llama-stack/llama-stack.md
    - Lightspeed:
      - Install Lightspeed: providers/lightspeed/lightspeed-install-configure.md
      - Use Lightspeed: providers/lightspeed/lightspeed.md
  - Settings: settings.md
